{% extends "base.html" %}
{% block navbar %}
<div class="navbar navbar-static-top navbar-inverse container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('RSES_CLIENT.home') }}">RSES</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
            {% for item in menu_items %}
                <li {% if item["children"] %}
                class="dropdown"
                {% elif request.path == item["url"] %}
                class="active"
                {% endif %}>
                    <a {% if item["children"] %}
                        class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"
                    {% else %}
                        href="{{ url_for("RSES_CLIENT." + item["function_name"]) }}"
                    {% endif %}>
                        {{ item["title"] }}
                        {% if item["children"] %}<span class="caret"></span>{% endif %}
                    </a>
                    {% if item["children"] %}
                        <ul class="dropdown-menu">
                            {% for child in item["children"] %}
                                <li>
                                    <a href="{{ url_for("RSES_CLIENT."+child["function_name"]) }}">{{ child["title"] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}