{% extends "client/client_base.html" %}
{% block title %} - Stock - Ingredient Types{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <h1>Ingredient Types</h1>
        </div>
        <div class="text-right col-xs-6">
            <h2>Total: <span id="ingredient-type-total"></span></h2>
        </div>
    </div>
    <div class="row jumbotron">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th width="90%">
                        Ingredient type
                        <i class="fa fa-plus-circle text-success" aria-hidden="true"></i>
                    </th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="ingredient-types-table">
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js_footer %}
    {{ super() }}
    <script src="{{ url_for('RSES_CLIENT.static', filename='js/ingredient_type.js') }}"></script>
{% endblock %}