{% extends "client_base.html" %}
{% block title %}Ingredient Types{% endblock %}
{% block content %}
    {# Heading #}
    <div class="row">
        <div class="col-xs-12">
            <h1>Ingredient Types
                <span class="badge" id="ingredient-type-total"><i
                        class="fa fa-refresh fa-spin fa-fw"></i></span>
            </h1>
        </div>
    </div>

    {# Table of ingredient types #}
    <div class="jumbotron">
        {# Table menu #}
        <div class="rses-table-menu col-lg-10 col-md-9 col-xs-12">
            <span class="text-success rses-ab-heading rses-ab-s" data-toggle="modal" data-target="#create-modal">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> New
            </span>
            <span class="text-info rses-ab-heading rses-ab-i" onclick="refreshIngredientTypes()">
                <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
            </span>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-12 rses-table-menu keep-inline">
            <label for="limit-ingredient-type" class="text-info rses-ab-i rses-ab-heading">
                <i class="fa fa-eye" aria-hidden="true"></i> Limit
            </label>
            <span>
                <select id="limit-ingredient-type" name="limit" class="form-control"
                       onchange="refreshIngredientTypes()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </span>
        </div>

        {# Table head #}
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th width="90%" class=" keep-inline">
                        <label for="filter-ingredient-type">Name</label>
                        <span class="col-xs-4 col-md-3 col-lg-2">
                            <input id="filter-ingredient-type" type="text" class="form-control input-sm"
                                   onchange="refreshIngredientTypes()" placeholder="Filter">
                        </span>
                    </th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="ingredient-types-table">
                <tr>
                    <td colspan="2" align="center"><i class="text-info fa fa-refresh fa-spin fa-2x fa-fw"></i>
                        <span class="sr-only">Loading...</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    {# Modal for editing an ingredient type #}
    <div class="modal" id="edit-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit Ingredient Type</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="edit-name">Name</label>
                            <input class="form-control input-lg" id="edit-name" type="text" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="edit-submit" data-dismiss="modal">Save
                            changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Modal for creating a new ingredient type #}
    <div class="modal" id="create-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create Ingredient Type</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="create-name">Name</label>
                            <input class="form-control input-lg" id="create-name" type="text" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="create-submit" data-dismiss="modal"
                                onclick="IngredientTypes.createIngredientType()">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block js_footer %}
    {{ super() }}
    <script src="{{ url_for('RSES_CLIENT.static', filename='js/ingredient_type.js') }}"></script>
{% endblock %}